<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script> -->

</head>
<body>
    <div class='headerOfSignIn' ng-app="postserviceapp" ng-controller="loginCtrl">
        <div class='maindiv'>
           <div class='Child-one'>
               <img class='GoogleLogo' src='/src/assets/google.png' alt="Google"  width='90' ></img>
               <p class='Sign-In-Heading'>Sign In</p>
               <p class='text2'>Use your Google Account</p>
           </div>
           <div class='Child-two'>
            <input class='InputFields' ng-model="email" placeholder="Email ID" type="text">
             <input class='InputFields' ng-model="password" placeholder="password" type="text">
               <a class='Link' href="#">Forgot password?</a>
               <p class='text3'>Not your computer? Use Guest mode to sign in privately.</p>
               <a class='Link'href="#">Learn More</a>
               
           </div>
           <div class='Bottom-Part'>
               <a href="#" class='Link CreateAccount'>Create account</a>
               <Button class="Next" type="submit" ng-click="postdata(email,password)">Next</Button>
           </div>
        </div>
   </div>
</body>
<script src="loginController.js"></script>
</html>